@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.content {
    /* position: fixed; */
    background: #291A53; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #291A53 , #6E031D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #291A53, #6E031D); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #291A53, #6E031D); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #291A53 , #6E031D); /* Standard syntax */
 
    
    margin-top: 2em;
    left: 0;
    right: 0;
    z-index: 0;
}

.crest {
    height: 6em;
    margin:auto;
    display: block;
}

.whiteText{
    color: white;
}

.badge{
    background: grey;
}

.card-header{
    background-color: rgba(255,255,255,.6)
}


.card{
    background-color: rgba(255,255,255,.6)
}

a{ 
    color:#291A53;
}
a:hover{
    color: #6E031D;
    text-decoration: none;
}


.flip-clock-label{
    color: white !important;
    font-size: 1.5em !important;
}

.match-clock{
    width:620px;
    position: absolute;
    transform: scale(.5);
}

object >html > body > img {
    height: 6em;
}

.card-header{
    height : 3.3em;
    border-radius: 10px;
    background-color: #eee;
}

.card-block{
    margin-left : 1em;
    padding-top: 0.75em;
}


.mfb-component__button--main, .mfb-component__button--child{
    color: #f1f1f1 !important;
    background-color:#291A53;
}

.mfb-component__icon, .mfb-component__main-icon--active, .mfb-component__main-icon--resting, .mfb-component__child-icon{
    margin-top : 30%;
}