<html>
<head>
    <meta content='True' name='HandheldFriendly' />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <script src="js/index.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper-1.12.5.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.1.6.6.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>

<body class="content"  ng-app="barcaApp" ng-controller="matchCtrl">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-1 col-lg-2 col-xl-2"></div>
            <div class="col-4 col-sm-4 col-md-4  col-lg-3 col-xl-3">
                <div class="col-12">
                    <object type="image/svg+xml" data="{{nextMatch.homeTeam.crestUrl}}" class="crest" style="float:right">
                    </object>
                </div>
                <div class="col-12 whiteText" style="display:block;float: right;">
                    <span style="display:block;float: right">
                            {{nextMatch.homeTeamName}}
                    </span>
                </div>
            </div>
            <div class="col-3 col-sm-3 col-md-3  col-lg-2 col-xl-2">
                <div class="col-12">
                    <img src="img/vs.png" class="crest" />
                </div>
                <div class="col-12 whiteText text-center">
                    <span style="display:block;">
                            <h6 ng-if="nextMatch.status=='FINISHED'">{{nextMatch.result.goalsHomeTeam}}:{{nextMatch.result.goalsAwayTeam}}</h6>
                    </span>
                </div>
            </div>  
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3">
                <div class="col-12">
                    <object type="image/svg+xml" data="{{nextMatch.awayTeam.crestUrl}}" class="crest" style="float:left">
                    </object>
                </div>
                <div class="col-12 whiteText" style="display:block;float: left;">
                    <span style="display:block;float: left"> 
                            {{nextMatch.awayTeamName}}
                    </span>
                </div>
            </div>
            <div class="col-md-1 col-lg-2 col-xl-2"></div>
        </div>

        <!-- code for count down will come here -->



        <!-- Accordian -->
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Watch Live
                        </a>
                    </h5>
                </div>
        
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block" style="margin-left:1.5em">
                        <h6><a href="#">Link1</a></h6>
                        <h6><a href="#">Link2</a></h6>
                        <h6><a href="#">Link3</a></h6>
                        <h6><a href="#">Link4</a></h6>
                        <h6><a href="#">Link5</a></h6>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Fixtures
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block"  ng-repeat="fixture in fixtures">
                            <div class="card" style="width:100%">
                                <div class="card-header">
                                    <h5> <span class="glyphicon glyphicon-calendar" style="font-size: .75em;"></span> {{fixture.homeTeamName}} VS {{fixture.awayTeamName}} </h3>
                                </div>
                                <div class="card-block" style="margin-left:1.5em">
                                    <h6>{{fixture.date | date:'MMM d, y h:mm a'}}</h6>
                                    <h6 ng-if="fixture.status=='FINISHED'">Final result {{fixture.result.goalsHomeTeam}}:{{fixture.result.goalsAwayTeam}}</h6>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Team Barca
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        <div class="card" style="width:100%">
                            <div class="card-header">
                                <h3>
                                    <span class="badge badge-default">25</span> Thomas Vermaelen</h3>
                            </div>
                            <div class="card-block" style="margin-left:1.5em">
                                <h6>Position: Centre-Back </h6>
                                <h6>Nationality: Belgium</h6>
                                <h6>Contract: 2019-06-30</h6>
                                <h6>DOB: 1985-11-14</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="js/controller.js"></script>
</body>

</html>